@media (max-width:647px){
    .container-wrapper{
  width: 100%;

}
.left-side{
    display: none;
}

    .right-side{
        width: 100%;
    }



}
.container-wrapper{
    overflow: hidden;
    display: grid;
    grid-template-columns: 4fr 8fr;

}
/* beginning of the left side container */
.left-side{
   width: 35%;
    overflow: hidden;
   
 


}


.left-side .imgbox img{
    width: 100%;
    height: 100vh;
  

}

/* beginning of right side container */
.right-side{
    width: 65%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-grow: auto;

}
.logo-textfield-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.logo-textfield-container h2{
    color: rgb(0, 4, 75);
    font-weight: 700;
    padding-top: 8px;
    font-size: 1.45rem;
    margin-bottom: 21px;
}
.logo-textfield-container img{
    height: 120px;
    margin-top: 11px;
}
.logo-textfield-container input{
    width: 40vw;
    height: 40px;
    border: 2px solid rgb(0, 4, 75);
    border-radius: 3px;
    margin-bottom: 21px;
}
.logo-textfield-container button{
    width: 41vw;
    height: 41px;
    border: 1px solid rgb(0, 4, 75);
    border-radius: 3px;
    background-color: rgb(0, 4, 75);
    color: #fff;
    margin-bottom: 41px;


}


/* grid card and it content starts here */

.grid-card{
    overflow: hidden;
    display: grid;
    /* grid-template-columns: 4fr 4fr 4fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;

}

.grid-card .grid-card-content{

    border-radius: 5px;
    box-shadow: 3px 5px 15px rgb(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 11px;
    margin-bottom: 11px;
    aspect-ratio: auto;
    padding-top: 0px;
    overflow: hidden;

    /* block-size: border-box; */

}
.tooltip-post-utme,
.tooltip-inter-uni,
.tooltip-uitics,
.tooltip-remes,
.tooltip-codl,
.tooltip-ibs,
.tooltip-ccsca,
.tooltip-ioe,
.tooltip-cmli,
.tooltip-jupeb

{
    background-color: lightgray;
    opacity: 0;
    position: absolute;
    color: white;
    padding: 4px;
    bottom: -41px;
    text-wrap: nowrap;
    font-size: small;
    z-index: 100;

}

.grid-card-content, a{
text-align: center;
text-overflow:clip;
text-wrap:wrap;
text-align-last: center;
text-decoration-color: rgba(0, 0, 0, .87);
cursor: pointer;
}

.grid-card-content, h5{
    text-align: center;
color: black;    
text-wrap:wrap;
font-size: 0.85rem;
text-align: center;
margin-bottom: 19px;

}

.grid-card-content, h3{
    color: rgb(0, 4, 75);
    font-weight: 700;
    font-size: 1.05rem;
    text-align: center;
    margin-bottom: 19px;
    text-wrap:wrap;
    text-overflow: clip;

}

.grid-card-content:hover .tooltip-post-utme,  
.grid-card-content:hover .tooltip-cmli, 
.grid-card-content:hover .tooltip-ccsca, 
.grid-card-content:hover .tooltip-jupeb, 
.grid-card-content:hover .tooltip-codl, 
.grid-card-content:hover .tooltip-ibs,  
.grid-card-content:hover .tooltip-ioe, 
.grid-card-content:hover .tooltip-remes,  
 .grid-card-content:hover .tooltip-uitics,  
.grid-card-content:hover .tooltip-inter-uni

{
    opacity: 1;
    
}
